* {
  box-sizing: border-box;
}

body {
  background-color: #eaddd7;
  max-width: 1200px;
  margin: auto;
  padding: 0;
  margin-top: 10px;
  box-shadow: 0px 0px 10px black;
  color: #000;
}
main {
  background-color: #eaddd7;
  display: none;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #cc8b8b;
}
h2 {
  text-align: center;
  background-color: #eaddd7;
}
h2:hover {
  border-radius: 50%;
  background-color: #cc8b8b;
}
/*nav {
    text-align: center;
}
nav  ul  {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 15px;

}
*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #cc8b8b;
}

.nav {
  display: flex;
  list-style-type: none;
}

.nav li {
  margin-right: 20px;
}
nav li:hover {
  color: #dfd3d3;
  cursor: pointer;
}
.active {
  color: #ffffff;
  text-decoration: none;
}

/*....................Second section styling...............................*/

.image_container {
  display: grid;
  justify-content: center;
  align-items: center;
}
.image_container img {
  width: 100%;
  border-radius: 10%;
}
.image_container figcaption {
  font-family: "Marck Script", cursive;
  color: #cc8b8b;
  text-align: center;
  font-size: 1.5rem;
}

.data {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.know_me_btn {
  margin-bottom: 40px;
  background-color: #cc8b8b;
  border-radius: 10px;
  color: rgb(216, 210, 210);
  border: 1px solid rgb(218, 207, 207);
  cursor: pointer;
}

.know_me_btn:hover {
  color: #cc8b8b;
  background-color: rgb(255, 255, 255);
  border-left: 3px solid rgb(109, 1, 42);
  border-right: 3px solid rgb(109, 1, 42);
}

.container {
  display: grid;
  background-color: #cc8b8ba9;
  margin: 10px 20px 10px;
  box-shadow: 2px 3px 4px rgb(59, 44, 56);
  border-radius: 30px;
}

h3,
p {
  margin-left: 10px;
}

.portfolio {
  background-color: #cc8b8ba9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  border-radius: 30px;
  margin: 10px 20px 10px;
  padding: 0;
  box-shadow: 2px 3px 4px rgb(59, 44, 56);
}
.portfolio h2 {
  grid-column: 1 / -1;
}

.Project {
  border-radius: 10px;
  padding: 20px;
  background-color: #eaddd7;
  margin: 0 10px 50px 10px;
  text-align: center;
  cursor: pointer;
}
.Project:hover {
  border-radius: 20px;
  font-size: larger;
  color: #cc8b8b;
}

footer {
  padding: 10px;
  background-color: #cc8b8ba9;
  text-align: center;
}
.finde_me ul {
  list-style: none;
  padding: 10px;
  text-align: center;
}

.finde_me ul li {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.finde_me ul li:hover {
  background-color: #eaddd7;
}

.finde_me a {
  text-decoration: none;
  color: #000;
}

/*............Desktop...................*/

@media only screen and (min-width: 1200px) {
}
