* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff46;
  max-width: 1200px;
  margin: auto;
  padding: 0;
  margin-top: 10px;

  box-shadow: 0px 0px 10px black;
}
main {
  background-color: #eaddd7;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #cc8b8b;
}
h2 {
  text-align: center;
}

/*nav {
    text-align: center;
}
nav  ul  {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 15px;

}
*/
/*...........first section styling...........*/
.first-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 0;
  /* border-top: 2px solid #a5d8ffb4;
  border-bottom: 2px solid #a5d8ffb4;
   position: fixed;
  width: 100%;*/
}

.first-sec p {
  color: #cc8b8b;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul {
  color: #ffffff;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 50px;
  font-family: "Marck Script", cursive;
  font-size: 25px;
}
nav li:hover {
  color: #cc8b8b;
  cursor: pointer;
}
.first-sec p {
}

/*....................Second section styling...............................*/

.second-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.second-sec img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.second-sec p {
  font-size: 150%;
  font-family: "Marck Script", cursive;
  color: #cc8b8b;
}

/*hr {
  position: absolute;
  bottom: -50px;
  width: 100px;
  height: 3px;
  background-color: rgb(250, 94, 172);
}*/
/*.................About me styling................................*/

.about-me {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  width: 100%;
  height: 600px;
}

.content {
  background-color: #cc8b8ba9;
  grid-column-start: 2;
  margin-top: 50px;
  border-radius: 30px;
}
/*............Resume styling...................*/
.resume {
  display: grid;
  grid-template-columns: 1fr 1fr 50px;
  width: 100%;
  height: 600px;
}
.cv {
  background-color: #cc8b8ba9;
  margin-top: 50px;
  grid-column-start: 2;
  border-radius: 30px;
}
/*........quote..........*/
.quote {
  color: #fffefe41;
  text-align: center;
  font-size: 30px;
}
.quote:hover {
  color: rgb(112, 114, 114);
}
/*............Portfolio styling...................*/
.portfolio {
  background-color: #cc8b8ba9;
  border-radius: 30px;
  border: 2px solid rgb(214, 206, 206);
  max-width: 1000px;
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 400px;
  margin-top: 50px;
}

.firstpro,
.secondpro,
.thirdpro,
.fourthpro {
  margin-top: 40px;
  width: 200px;
  height: 100px;
}

.firstpro,
.secondpro {
  grid-row-start: 1;
  background-color: rgba(140, 107, 148, 0.151);
}
.thirdpro,
.fourthpro {
  grid-row-start: 2;
  background-color: rgba(157, 190, 190, 0.37);
}
